<section class="container">
  <h3 class="blog-name">{{blog.name}}</h3>
  <h4>Date Posted: {{format_time blog.date}}</h4>
  <section class="flex-row justify-center">
    {{#each blogposts as |blogpost|}}
    {{> blogposts}}
    {{/each}}
  </section>
</section>